@media all and (max-width: 1092px) {
    header {
        padding-top: 20px;
        padding-bottom: 20px;
        height: initial;
    }
}

@media all and (max-width: 964px) {
    .pictures-slider {
        width: 80%;
    }
}

@media all and (max-width: 900px) {
    .menu {
        font-size: 34px;
    }
}

@media all and (max-width: 768px) {
    .menu {
        font-size: 28px;
    }
    h2 {
        font-size: 50px;
    }
    .news p {
        font-size: 16px;
    }
}

@media all and (max-width: 640px) {
    .menu {
        font-size: 22px;
    }
    h2 {
        font-size: 44px;
        margin-bottom: 12px;
    }
    .pictures-slider {
        width: 70%;
    }
}

@media all and (max-width: 500px) {
    .menu {
        font-size: 18px;
    }
    h2 {
        font-size: 38px;
    }
    .news p {
        font-size: 14px;
    }
    .contacts-form label {
        font-size: 16px;
    }
    .contacts-form input,
    .contacts-form textarea {
        font-size: 16px;
    }
    .contacts-form button {
        font-size: 16px;
    }
}

@media all and (max-width: 640px) {
    nav:first-of-type {
        display: none;
    }
    .btn-wrap {
        display: block;
    }
    nav:last-of-type {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        z-index: 9;
        background-color: rgba(0, 0, 0);
        height: 100vh;
        width: 0;
        -webkit-transition: 0.3s ease-out;
        -o-transition: 0.3s ease-out;
        transition: 0.3s ease-out;
        opacity: 0;
    }
    nav:last-of-type .menu {
        display: initial;
        text-align: left;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-60%);
        -ms-transform: translateY(-60%);
        transform: translateY(-60%);
        left: 60px;
        font-family: sans-serif;
    }
    nav:last-of-type .menu-item:not(:last-child) {
        margin-bottom: 40px;
    }
}

@media all and (max-width: 550px) {
    .btn-wrap {
        right: 35px;
        top: 35px;
    }
}

@media all and (max-width: 550px) {
    .btn-wrap {
        right: 32px;
        top: 32px;
    }
}

@media all and (orientation: landscape) {
    header {
        height: 90vh;
    }
}