html,
body {
    overflow-x: hidden;
}

body {
    width: 100%;
    background-color: #020000;
    font-family: Georgia, serif;
}

header {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
}

header a {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    cursor: pointer;
    width: 90%;
    text-align: center;
}

header a img {
    width: 100%;
    max-width: 980px;
}

main {
    padding-top: 20px;
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
}

.btn-wrap {
    display: none;
    background-color: #fff;
    border: none;
    height: 3px;
    width: 28px;
    position: absolute;
    right: 40px;
    z-index: 9;
    top: 40px;
    background: rgba(255, 255, 255);
    cursor: pointer;
    z-index: 10;
}

.phone-menu-btn {
    position: absolute;
    background-color: rgba(255, 255, 255, 0);
    left: 0;
    top: -8px;
    width: 28px;
    border: none;
    height: 20px;
    z-index: 99999;
    cursor: pointer;
}

.btn-wrap::before,
.btn-wrap::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 28px;
    background-color: #fff;
    bottom: 8px;
    right: 0;
    transition: 0.3s ease-out;
}

.btn-wrap::after {
    top: 8px;
}

.close {
    background-color: rgba(255, 255, 255, 0);
}

.close::before {
    transform: translateY(8px) rotate(45deg);
}

.close::after {
    transform: translateY(-8px) rotate(-45deg);
}

nav {
    overflow: hidden;
}

nav:last-of-type {
    display: none;
}

.menu {
    font-size: 40px;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 auto;
    width: 90%;
    max-width: 920px;
    margin-bottom: 40px;
}

.menu a {
    color: inherit;
    text-decoration: none;
    -webkit-transition: 0.15s;
    -o-transition: 0.15s;
    transition: 0.15s;
}

.menu a:hover {
    color: #d8c35c;
}

.pictures {
    width: 100%;
}

.pictures-slider {
    margin: 0 auto;
}


/* .slide-wrap {
    width: 100%;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.slide-wrap .slide-img-wrap {
    overflow: hidden;
    max-height: 470px;
    height: 100%;
    width: 32%;
    max-width: 370px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.slide-wrap .slide-img-wrap img {
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    cursor: pointer;
    width: 100%;
}

.slide-wrap .slide-img-wrap:first-child,
.slide-wrap .slide-img-wrap:nth-child(2),
.slide-wrap .slide-img-wrap:nth-child(3) {
    margin-bottom: 2%;
}

.slide-wrap .slide-img-wrap img:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05)
} */

.slick-initialized .slick-slide {
    margin: 20px;
}

.slick-track {
    display: flex;
    justify-content: space-around;
    justify-content: space-between;
    align-items: center;
}

.slider-img-wrap {
    display: flex;
    overflow: hidden;
}

.slider-img-wrap img {
    width: 100%;
    transition: 0.15s ease-out;
    cursor: pointer;
}

.slider-img-wrap img:hover {
    transform: scale(1.05);
}

.slick-prev,
.slick-next {
    position: relative;
}

.slick-prev {
    left: -50px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 30px;
    height: 46px;
}

.slick-next {
    right: -50px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(180deg);
    -ms-transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%) rotate(180deg);
    width: 30px;
    height: 46px;
}

.slick-prev::before,
.slick-next::before {
    content: "";
    position: absolute;
    width: 32px;
    height: 6px;
    background-color: grey !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    -webkit-transform: translateY(-10px) rotate(-45deg);
    -ms-transform: translateY(-10px) rotate(-45deg);
    transform: translateY(-10px) rotate(-45deg);
    border-radius: 2px;
    opacity: 1;
}

.slick-prev::after,
.slick-next::after {
    content: "";
    position: absolute;
    width: 32px;
    height: 6px;
    background-color: grey !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    -webkit-transform: translateY(10px) rotate(45deg);
    -ms-transform: translateY(10px) rotate(45deg);
    transform: translateY(10px) rotate(45deg);
    border-radius: 2px;
    opacity: 1;
}

.slick-prev:hover::before,
.slick-next:hover::before,
.slick-prev:hover::after,
.slick-next:hover::after {
    background-color: white !important;
}

h2 {
    font-size: 70px;
    color: #fff;
    text-align: center;
    margin-bottom: 40px;
}

.news {
    margin-bottom: 140px;
}

.news p {
    color: #fff;
    font-size: 18px;
    max-width: 684px;
    width: 94%;
    margin: 0 auto;
    text-align: center;
    line-height: 1.3;
    font-family: sans-serif;
    font-weight: 300;
}

.contacts {
    margin-bottom: 180px;
}

.contacts-form {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 50px;
    position: relative;
}

h3 {
    font-size: 30px;
    color: white;
    text-align: center;
    margin-bottom: 16px;
}

.necessarilly::after {
    content: "*";
    padding-left: 5px;
    vertical-align: middle;
}

.contacts-form input,
.contacts-form textarea {
    width: 100%;
    font-size: 20px;
    color: #7b736f;
    border: none;
    border-radius: 5px;
    padding: 5px 80px 5px 15px;
    box-sizing: border-box;
}

.contacts-form label {
    color: #7b736f;
    padding: 12px;
    font-size: 20px;
    font-family: sans-serif;
}

.contacts-form textarea {
    height: 130px;
    resize: none;
}

.contacts-form button {
    color: #fcfcfc;
    background-color: grey;
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    -webkit-transition: 0.15s;
    -o-transition: 0.15s;
    transition: 0.15s;
    margin-left: auto;
    width: 60px;
    position: absolute;
    right: 0;
    top: -2px;
    height: 107%;
    border-radius: 5px;
}

.contacts-form button::after {
    content: '';
    width: 12px;
    height: 3px;
    background-color: #fff;
    position: absolute;
    transform: translateY(-3px) rotate(45deg);
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.contacts-form button::before {
    content: '';
    width: 12px;
    height: 3px;
    background-color: #fff;
    position: absolute;
    transform: translateY(3px) rotate(-45deg);
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.contacts-form button:hover {
    background-color: #ad851e;
}

footer {
    height: 50px;
    background-color: #c97d7d;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 14px;
    width: 100%;
    font-family: sans-serif;
    font-weight: 300;
}

footer span {
    max-width: 640px;
    width: 94%;
    margin: 0 auto;
}